*
{
    box-sizing:border-box
}
html
{
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}
:root
{
    --main-color: rgb(52,52,52)
}
/* start of the nav */
nav
{
    z-index: 99999999;
}
nav .container
{
width:80%
}
.nav-item .nav-link
{
font-size: 14px;
font-weight: 400;
line-height: 20px;
}
.navbar-brand
{
 font-size: 18px;
font-weight: 800
}

/* end of the nav */

/* start of the home */
.Home
{
background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(../images/home/bg.jpg);
background-position: center center;
background-size: cover;
height:100vh;
}
.home-Caption h3
{
    font-size: 50px;
    font-weight: 800;
}
.home-Caption h4
{
font-size: 60px;
font-weight: 200;
line-height:65px;
}
.home-Caption h4::after
{
    content: '';
    animation: move1 15s  infinite ease-in ;
    font-size: 60px;
    font-weight: 400;
    line-height:72px;
    text-align: center
}
@keyframes move1 {
    /* Larry Daniels */
    1.3%{content: '|';}
    2.6%{content: 'L|';}
    3.9%{content: 'La|';}
    5.2%{content: 'Lar|';}
    6.5%{content: 'Larr|';}
    7.8%{content: 'Larry|';}
    9.1%{content: 'Larry D|';}
    10.4%{content:'Larry Da|';}
    11.7%{content:'Larry Dan|';}
    13%{content:  'Larry Dani|';}
    14.3%{content:'Larry Danie|';} 
    15.6%{content:'Larry Daniel|';}
    16.9%{content:'Larry Daniels|';}
    18.2%{content:'Larry Daniel|';}
    19.5%{content:'Larry Danie|';}
    20.8%{content:'Larry Dani|';}
    22.1%{content:'Larry Dan|';}
    23.4%{content:'Larry Da|';}
    24.7%{content:'Larry D|';}
    26%{content: 'Larry |';}
    27.3%{content:'Larry|';}
    28.6%{content:'Larr|';}   
    29.9%{content:'Lar|';}  
    31.2%{content:'La|';} 
    32.5%{content: 'L|';} 
    33.8%{content: '|';} 
    35.1%{content: '|';}
    36.4%{content: '|';}
    37.7%{content: '|';}
    39%{content: '|';}
    40.3%{content: '|';}

       /* developer */
 41.6%{content: 'D|';}
 42.9%{content: 'De|';}
44.2%{content: 'Desi|';}
45.5%{content: 'Deve|';}
 46.8%{content: 'Devel|';}
 48.1%{content: 'Develo|';}
49.4%{content: 'Develop|';}
50.7%{content: 'Develope|';}
52%{content:   'Developer|';}
53.3%{content: 'Develope|';}
 54.6%{content: 'Develop|';}
55.9%{content: 'Develo|';}
 57.2%{content: 'Devel|';} 
 58.5%{content: 'Dev|';} 
 59.8%{content: 'De|';}
 61.1%{content: 'D|';} 
 62.4%{content: '|';}
 63.7%{content: '|';}
65%{content:   '|';}  
66.3%{content:  '|';}
67.6%{content:  '|';}
68.9%{content:  '|';}
 /* Designer */
70.2%{content: 'D|';}
71.5%{content: 'De|';}
72.8%{content: 'Des|';}
74.1%{content: 'Desi|';}
75.4%{content: 'Desig|';}
76.7%{content: 'Design|';}
78%{content:   'Designe|';}
79.3%{content: 'Designer|';}
80.6%{content: 'Designe|';}
81.9%{content: 'Desig|';}
83.2%{content: 'Desi|';}
84.5%{content: 'Des|';} 
85.8%{content: 'De|';}
87.1%{content: 'D|';}
88.4%{content: '|';}
89.7%{content: '|';}    
91%{content: '|';}
92.3%{content: '|';}
93.6%{content: '|';}
94.6%{content: '|';}
96.2%{content: '|';}
100%{content: '|';}

}
.cont-icon
{
    width: 30px;
    height:30px;
    background-color:rgba(0,0,0,0.5);

}
/* end of the home */

/*start of about*/
.about-left img
{
width: 100%;
}
.about-right h3
{
color: var(--main-color);
font-size: 30px;
font-weight: 800;
line-height: 33px
}
.about-right h4
{ 
    margin-bottom: 20px;
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 20px  
}
.progress
{
border-radius:4px;
height: 23px;

}
.progress-bar
{
    border-radius: 4px;
    background-color: rgb(28,28,28);
}
button
{
    border-radius: 4px !important;
    padding: 7px 35px;
    border: 1px solid black;
   font-size: 14px;
}
.btn-1
{
background-color:rgb(28,28,28) ;
}
.btn-2
{
    color: var(--main-color);
    margin-left: -45px;
}
a
{
    text-decoration: none;
}
.btn-1:hover
{
    background-color:transparent;
}
.btn-1:hover a
{
    color:black !important;
}
.btn-2:hover
{
    background-color:rgb(28,28,28)  !important;
}
.btn-2:hover a
{
    color:white !important;
}
.about-right span
{
    font-size: 15px;
font-weight: 800;
line-height: 24px;
color: rgb(116, 129, 130)
}

/* end of about */

/* start of services */
.services
{
background-color: rgb(246,246,246);
}
.services .dote>h3,.slr .dote>h3,.blog>h3,.footer .dote>h3
,.blog-large .dote>h3,.blog .dote>h3
{
font-size: 50px;
font-weight: 900;
color: var(--main-color);
margin-left: -10px;
position: relative;
bottom: 20px;

}
.service-circle
{
width: 70px;
height: 70px;
background-color:rgb(244,244,244);
}
.services-1 h4
{
color: var(--main-color);
font-size: 18px;
font-weight: 800;
line-height: 19.8px
}
.services-1:hover .service-circle
{
 background-color:black;
 color: white 
}
.services-1:hover i
{
    color: white !important;
}
/* end of services */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
  background-color:red!important;
}
.nav-item .nav-link
{
    font-size: 16px;
    font-weight: 700;
}
.items
{
position: relative;
overflow: hidden;
margin-bottom: 15px;
}
.items img
{
  transition: all 0.5s;
}
.items .over
{
  background-color:rgba(0,0,0,0.75);
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  
}
.items_caption
{
  transition: all 0.5s;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
 .items .items_caption i
{
  color: black;
  opacity: 1;
}
.items_caption a
{
color: var(--main-color);
font-size: 12px;
font-weight: 700;
letter-spacing: 2px;
opacity: 0;
transition: all 0.5s;

}
.items:hover .items_caption
{
  background-color: rgba(255,255,255,.85);
  border: gray 4px solid;
}
.items:hover .items_caption .icons-have
{
 opacity: 1;
}
.items:hover .items_caption a
{
    opacity: 1;
}

.icons-have
{
    width: 35px;
    height: 35px;
    background-color:black;
    margin-top: 20px;
    transition: all 0.5s;
    opacity: 0;
}



.slr
{
    background-color: rgb(247,247,247);
}

.slr .carousel-item img
{
    width: 10% !important;
}
.carousel-item h4
{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 17.6px
}
.carousel-item h5
{
    color: rgb(136, 136, 136);
    font-size: 12px;
    font-weight: 600;
    line-height: 17.15px   
}
.slr .carousel-indicators [data-bs-target] 
{
    width:10px;
    height:10px;
    margin-right:10px;
    background-color: black;

}
.slr .carousel-indicators [data-bs-target]:hover
{
background-color:gray
}


.nums h5
{
color: var(--main-color);
font-size: 14px;
font-weight: 580;
line-height: 20px;
}
.nums h3
{
margin-bottom: 15px;
color: var(--main-color);
font-size: 30px;
font-weight: 900;
line-height: 33px
}
.nums i
{
color:var(--main-color) !important;
}
.nums h5
{
    margin-top: 20px;
}
.nums .counter-1::after
{
    content: '850';
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: center
}


.nums .counter-2::after
{
    content: '230';
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: center
}

.nums .counter-3::after
{
    content: '9450';
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: center
}

.nums .counter-4::after
{
    content: '780';
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: center
}


.blog 
{
    background-color: rgb(247,247,247);
}
.blog-img img 
{
    width:100%;
    transition: all 1.5s ;
}
.blog-img
{
    overflow: hidden;
}
.carousel-item .blog-img:hover img
{
    transform:scale(1.3);
    cursor: pointer;
}
.blog-caption .link-1
{
color: rgb(136, 136, 136);
font-size: 12px;
font-weight: 600;
line-height: 13.2px
}
.blog-caption .link-2
{
 color: rgb(52, 52, 52);
font-size: 14px;
font-weight: 800;
line-height: 32px
}
.blog-caption .link-3
{
color: rgb(52, 52, 52);
font-size: 14px;
font-weight: 400;
}
.line
{
    width: 66.5px;
    height:2px;
    
}
.carousel-item
{
    z-index: 55;
}
.blog-1,.blog-2,.blog-3,.blog-4,.blog-5
{
    width: 40%;
}


.carousel-indicators button
{
    background-color:black !important;
    width: 25px !important;
    height: 25px !important;
}




.blog-large
{
    background-color: rgb(247,247,247);
}
.blog-large .blog-img:hover img
{
    transform:scale(1.3);
    cursor: pointer;
}







.cont-of-i
{
    width: 65px;
    height: 65px;
    background-color:rgb(243,243,243);
    transition: all 0.3s;
}
.footer-i:hover .cont-of-i
{
    background-color: black;
}
.footer-i:hover i
{
    color: white;
}
.footer form input,.footer form textarea
{
    background-color: rgb(244,244,244);
}

.footer button:hover
{
    background-color:white !important;
    color:black !important;
}
.footer-end
{
    background-color: rgb(28,28,28);
}

